@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Todo
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(todo) {
	width: 100%;
	max-width: 620px;
	margin: 0 auto; // Always center the todo app
	padding: 24px;

	@include element(header) {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 24px;
		border-radius: 8px 8px 0 0;
		background: shade($color-secondary, 20%);

		&:not(:last-child) {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	@include element(form) {
		display: flex;
		flex-flow: row wrap;
		padding: 24px;
		border-radius: 0 0 8px 8px;
		background: $color-secondary;

		input,
		textarea,
		button {
			&:not(:last-child) {
				margin-right: 12px;
			}
		}
	}

	// TBD: Float the clear completed tasks bar below the form and on top of the list, without affecting height when it appears.
	@include element(clear) {
		display: none;
	}

	@include element(list) {
		margin: 8px 0;
		padding: 0;
		list-style: none;
	}
}
